*, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);    
}

body, html {
    margin: 0;
    padding: 0;
}

/* Container */

.container {
    display: flex;
    flex-direction: column;
    width: 700px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    background: #062915;
    text-align: center;
    color: #15dd36;
    border: 5px solid #15dd36;
    border-radius: 8px;
    padding: 50px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* Socore */

.score .correct, .score .incorrect {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
}

.score input, #box {
    background: #93d49e6c;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    letter-spacing: 8px;
}

.score .correct input {
    color: #15dd36;
    border: 1px solid #15dd36;
}

.score .incorrect input {
    border: 1px solid red;    
} 

.score .incorrect input, .score .incorrect {
    color: red;
}

/* palabra */

p {
    font-size: 28px;
}

#box {
    margin: 20px;
    color: #15dd36;
}

/* keyboard */

.keyboard button, .control button {
    background: #062915;
    color: #15dd36;
    border: none;
    border-radius: 5px;
    width: 50px;
    padding: 10px 15px;
    margin: 6px;
    box-shadow: 0 5px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 20px;
    transition: .4s;
    cursor: pointer;
}

.keyboard button:hover {
    background: #15dd36;
    color: #062915;
}

.control button {
    width: auto;
}


