*, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);    
}

body, html {
    margin: 0;
    padding: 0;
}

/* Container */

.container {
    display: flex;
    flex-direction: column;
    width: 700px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    background: #062915;
    text-align: center;
    color: #15dd36;
    border: 5px solid #15dd36;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.scoreboard {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
    font-size: 28px;
    border: 2px solid #15dd36;
    border-radius: 8px;
}

.game {
    margin-bottom: 50px; 
}

.game .question {
    margin: 30px 0;
    font-size: 30px;
}

.game .answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game .answers .answer, #start {
    font-size: 20px;
    padding: 20px;
    background: #062915;
    color: #15dd36;
    border: 1px solid #15dd36;
    border-radius: 5px;
    box-shadow: 0 5px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: .4s;
    cursor: pointer;
    margin: 5px 0;
}

.game .answers .answer:hover, #start:hover {
    background: #15dd36;
    color: #062915;
}